<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <appSettings>
    <add key="Mode" value="Release" xdt:Transform="Insert"/>
    <add key="ApiRoot" value="http://b136.seng.uvic.ca:44410"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="WorkerCount" value="10" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>

  <rabbitmqConfig>
    <hosts>
      <host xdt:Transform="Replace" name="b134.seng.uvic.ca" port="44410" username="dts_user" password="Group1" virtualHost="/" />
    </hosts>

    <receivers>
      <receiver xdt:Transform="Replace" name="TransactionEventQueueReceiver" hostName="b134.seng.uvic.ca" queueName="TransactionEventQueue" autoAckMessages="false" requeueRejectedMessages="true" />
    </receivers>
  </rabbitmqConfig>

  <connectionStrings>
    <add name="DtsAuditDb" connectionString="Server=b132.seng.uvic.ca;Port=44410;Database=dts_audit;User Id=dts_user;Password=Group1;Timeout=15;CommandTimeout=5;Pooling=true;MinPoolSize=1;MaxPoolSize=20;" 
          xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>

</configuration>