<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <appSettings>
    <add key="Mode" value="Release" xdt:Transform="Insert"/>
    <add key="SlaveName" value="{SLAVE_NUM}" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="NumberOfHttpWorkers" value="100" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>

  <rabbitmqConfig>
    <hosts>
      <host xdt:Transform="Replace" name="b134.seng.uvic.ca" port="44410" username="dts_user" password="Group1" virtualHost="/" />
    </hosts>

    <queues xdt:Transform="Replace">
      <queue name="Slave{SLAVE_NUM}" exchangeName="WorkloadGenerator" isDurable="true" isExclusive="false" autoDelete="false">
        <bindingKeys>
          <add key="Slave{SLAVE_NUM}" />
          <add key="Control" />
        </bindingKeys>
      </queue>
      <queue name="SlaveStatusDeadLetter" exchangeName="WorkloadGenerator" isDurable="true" isExclusive="false" autoDelete="false">
        <bindingKeys>
          <add key="SlaveStatus" />
        </bindingKeys>
      </queue>
    </queues>

    <receivers>
      <receiver xdt:Transform="Replace" name="WorkloadQueueReceiver" hostName="b134.seng.uvic.ca" queueName="Slave{SLAVE_NUM}" autoAckMessages="false" requeueRejectedMessages="true"/>
    </receivers>
    
    <publishers>
      <publisher xdt:Transform="Replace" name="SlaveStatusPublisher" hostName="b134.seng.uvic.ca" exchangeName="WorkloadGenerator" messagesMustBeRouted="true" deadLetterQueueName="SlaveStatusDeadLetter"/>
    </publishers>

  </rabbitmqConfig>
  
</configuration>