<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="rabbitmqConfig" type="RabbitMessaging.RabbitConfigurationSection, RabbitMessaging" />
  </configSections>

  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>

  <appSettings>
    <add key="SlaveName" value="1"/>
    <add key="ServiceName" value="WorkloadGeneratorSlave" />
    <add key="DisplayName" value="Workload Generator Slave" />
    <add key="ServiceDescription" value="A service for executing a large number of transactions against the DTS system." />
    <add key="NumberOfHttpWorkers" value="4" />
  </appSettings>

  <rabbitmqConfig>
    <hosts>
      <host name="localhost" port="5672" username="dts_user" password="Group1" virtualHost="/" />
    </hosts>
    
    <exchanges>
      <exchange name="WorkloadGenerator" type="direct" isDurable="true" autoDelete="true" />
    </exchanges>
    
    <queues>
      <queue name="SlaveNUM" exchangeName="WorkloadGenerator" isDurable="true" isExclusive="false" autoDelete="false">
        <bindingKeys>
          <add key="SlaveNUM" />
          <add key="Control" />
        </bindingKeys>
      </queue>
      <queue name="SlaveStatus" exchangeName="WorkloadGenerator" isDurable="true" isExclusive="false" autoDelete="false">
        <bindingKeys>
          <add key="SlaveStatus"/>
        </bindingKeys>
      </queue>
    </queues>

    <receivers>
      <receiver name="WorkloadQueueReceiver" hostName="localhost" queueName="SlaveNUM" autoAckMessages="false" requeueRejectedMessages="true" />
    </receivers>

    <publishers>
      <publisher name="SlaveStatusPublisher" hostName="localhost" exchangeName="WorkloadGenerator"/>
    </publishers>
    
  </rabbitmqConfig>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Topshelf" publicKeyToken="b800c4cfcdeea87b" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.154.0" newVersion="3.3.154.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>