<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <appSettings>
    <add key="Mode" value="Release" xdt:Transform="Insert"/>
    <add key="NumberOfHttpWorkers" value="12" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>

  <rabbitmqConfig>
    <hosts>
      <host xdt:Transform="Replace" name="b134.seng.uvic.ca" port="44410" username="dts_user" password="Group1" virtualHost="/" />
    </hosts>

    <receivers>
      <receiver xdt:Transform="Replace" name="WorkloadQueueReceiver" hostName="b134.seng.uvic.ca" queueName="SlaveNUM" autoAckMessages="false" requeueRejectedMessages="true"/>
    </receivers>
    
    <publishers>
      <publisher xdt:Transform="Replace" name="SlaveStatusPublisher" hostName="b134.seng.uvic.ca" exchangeName="WorkloadGenerator" messagesMustBeRouted="true" deadLetterQueueName="SlaveStatusDeadLetter"/>
    </publishers>

  </rabbitmqConfig>
  
</configuration>