<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="rabbitmqConfig" type="RabbitMessaging.RabbitConfigurationSection, RabbitMessaging" />
  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>

  <connectionStrings>
    <add name="DtsDb" connectionString="Server=127.0.0.1;Port=5432;Database=dts;User Id=dts_user;Password=Group1;Timeout=15;CommandTimeout=5;Pooling=true;MinPoolSize=1;MaxPoolSize=20;" />
  </connectionStrings>

  <appSettings>
    <add key="ServiceName" value="TriggerManagerService" />
    <add key="DisplayName" value="Trigger Manager Service" />
    <add key="ServiceDescription" value="A service to monitor stock prices and execute user-defined buy/sell triggers." />
    <add key="QuoteCachePollRateMilliseconds" value="1000"/>
    <add key="QuoteCacheApiRoot" value="http://localhost:44410"/>
    <add key="DtsApiRoot" value="http://localhost:44410"/>
  </appSettings>

  <rabbitmqConfig>
    <hosts>
      <host name="localhost" port="5672" username="dts_user" password="Group1" virtualHost="/" />
    </hosts>

    <exchanges>
      <exchange name="Dts" type="topic" isDurable="true" autoDelete="true" />
    </exchanges>

    <queues>
      <queue name="TriggerNotificationQueue" exchangeName="Dts" isDurable="true" isExclusive="false" autoDelete="false">
        <bindingKeys>
          <add key="Triggers.*" />
        </bindingKeys>
      </queue>
    </queues>

    <receivers>
      <receiver name="TriggerNotificationQueueReceiver" hostName="localhost" queueName="TriggerNotificationQueue" autoAckMessages="false" requeueRejectedMessages="true" />
    </receivers>
  </rabbitmqConfig>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Topshelf" publicKeyToken="b800c4cfcdeea87b" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.154.0" newVersion="3.3.154.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>